@import '../globals/font.scss';

$font-size: 14px;
$font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
$fa-font-path: 'font-awesome/webfonts';
