@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v13-latin-regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/fonts/Geomanist-Medium.woff2');
  font-weight: 500;
}
